<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSBD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>191E1D381E82BD1600F02EAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>191E1D541E82BD1600F02EAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>191E1D5F1E82BD1700F02EAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
